body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
}

.grid {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 10px solid rgb(126, 126, 126);
  width: 500px;
  aspect-ratio: 1;
  padding: 0px;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  align-content: start;
}

.grid-pixel {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid;
  margin: 0px;
  aspect-ratio: 1;
  opacity: 1;
}

.top-bar {
  display: flex;
  padding: 20px;
  gap: 15px;
  margin-bottom: 20px;

  background-color: rgb(126, 126, 126);
  border-radius: 1%;
}

.top-bar button {
  background-color: black;
  color: whitesmoke;
  border: 0;
  font-family: "Courier New", Courier, monospace;
}

.randomize-color {
  font-weight: bolder;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.yellow {
  color: yellow;
}
.green {
  color: lawngreen;
}
.blue {
  color: blue;
}
.indigo {
  color: indigo;
}
.violet {
  color: violet;
}
